<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>OAT Homework</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        table {
            width: 100%;
        }
        td,
        th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        tr:hover {
            background-color: #ddd;
            cursor: pointer;
        }

        th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #768c77;
            color: white;
        }
    </style>
</head>

<body>

    <body>
        <header id="header"></header>
        <main id="app"></main>
        <script async src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
        <!-- <script src="src/main.js"></script> -->
    </body>
</body>

</html>